.body {
    background-color: #d0d0d0;
}
.white-box{
    background : #ffffff;
    padding: 30px 30px 30px 30px;
    margin: 10px 10px 10px 10px;
    border-radius: 5px;
    max-width: 900px;
    min-width: 600px;
    width: 75%;
        
}
.text {
    font-size: 30px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.center-justified {
    text-align: justify;
    margin: 0 auto;
    width: 30em;
}
.image {
    height: 200px;
    width: 300px;
    margin: 10px 20px 10px 20px;
}